extends layout

block content
  h1= title
  ul
    li: a(href='/marionette') marionette
    li: a(href='/marionette2') marionette2
    li: a(href='/giraffe') giraffe
    li: a(href='/knockout') knockout