extends layout

block content
    h1= title


    .question(data-bind='foreach: questions')
        .title(data-bind='text: question_text')
        ul.answers(data-bind='foreach: accepted_answers.choices')
            li.answer
                span(data-bind='text: val')
                span(data-bind='text: text')


block js
    script(src='http://knockoutjs.com/downloads/knockout-3.0.0.js')
    script(src='/ko/knockout-app.js')
