extends layout

block content
  h1= title



  script#current-value-template(type='text/html')
    span <%= val %>

  #marionette-questions


block js
  script(data-main='/marionette2/marionette-app.js' src='/marionette2/vendor/require.js')
